body{background:#f1f1f1}

.data-diri {
  padding:10px;
  color: #757575;
  border-bottom:1px solid #cccccc;
  margin-bottom: 40px;
}

.area-pesan {
  margin-bottom: 140px;
}

.messages-admin {
  background:#24e2be;
  color:#3d3d3d;
  margin-top:-10px;
  padding:15px;
  border-radius:3px;
}

.messages-user {
  background:#dddddd;
  color:#3d3d3d;
  margin-top:-10px;
  padding:15px;
  border-radius:3px;
}

.waktosna {
  float: right;
  font-size: 12px;
  color: #757575;
}

.namina {
  line-height: 40px;
  font-size: 14px;
  color: #3d3d3d;
}

#box-input {
   border-top:1px solid #dddddd;
   background:#ffffff;
   position:fixed;
   left:0px;
   bottom:-20px;
   width:100%
}

.pesan {
  font-size: 14px;
  width:93%;
  border:none;
  padding:12px 0px 0px 15px;
  color:#3d3d3d;
  outline:none;
  resize:none;
}

::-webkit-input-placeholder{color:#3d3d3d}::-moz-placeholder{color:#3d3d3d}:-ms-input-placeholder{color:#3d3d3d}:-moz-placeholder{color:#3d3d3d}
.kirims{position:absolute;right:20px;top:16px}
@media screen and (max-width:901px){.pesan {width:91%}}
@media screen and (max-width:701px){.pesan {width:88%}}
@media screen and (max-width:531px){.pesan {width:84%}}
@media screen and (max-width:401px){.pesan{width:80%}}
