.foto-pengguna-tabel {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    border: solid 2px #DDD;
}

.foto-pengguna{
  width: 100%;
  height: auto;
}

.detail-pengirim{
  padding-left: 20px;
  padding-bottom: 18px;
  border-left: 4px solid #009688;
  border-top: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  border-radius: 4px;
}

.isi-keluhan {
  background:#24e2be;
  color:#3d3d3d;
  border-radius:4px;
  padding:10px;
  margin-left: 15px;
}

.nama-atas {
  font-size:12px;
  color:#757575;
}

.nama-pengeluh {
  margin-left: 15px;
}

.balas{
  margin:15px;
  border-radius:4px;
  border:1px solid #DDDDDD;
  padding:15px;
}

.messages-user {
  background:#24e2be;
  color:#3d3d3d;
  padding:15px;
  list-style-type: none;
  border-radius: 4px;
}

.messages-admin {
  background:#f1f1f1;
  color:#3d3d3d;
  padding:15px;
  list-style-type: none;
  border-radius: 4px;
}
